PORT=5000
MONGO_URI=mongodb+srv://Bibhishan:Deshmukh123@cluster0.j9unbnj.mongodb.net/cms_mern?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change_this_to_a_long_random_secret_key
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:3000  